* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

/* css ^^ RESET ^^*/
body {
		color: #222;
}
.header .searchbar .buttons .footer .nav{
  display: block;
}

.nav {
  width: 100%;
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

li a {
  display: inline;
  color: #222;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
  position: relative;
  font-size: 13px;
}

#signbutton {
  background-color: #2763c4;
  padding: 5px;0;
  border: 1px solid #2763c4;
  border-radius: 3px;
	display: inline-block;
	position: relative;
	top: -2px;
}

#signbutton > a {
	color: white;
}

#img {
	display: inline-block;
}

.right {
	padding-right: 15px;
	padding-top: 15px;
}

.header {
  margin: auto;
  text-align: center;
  position: relative;
	top: 150px;

}
